body {
	font-family: sans-serif;
    }
    
    #question-container {
	margin-bottom: 20px;
    }
    
    #choices {
	display: flex;
	flex-direction: column;
    }
    
    #choices label {
	margin-bottom: 10px;
    }
    